h1 {color: rgb(85, 37, 129); font-size: 250%; text-align: center;}
h2 {color: rgb(168, 129, 78); text-align: center; font-size: 130%;}
h3 {text-align: center; font-size: 100%; color: rgb(168, 129, 78);}
#taylor {margin-left: 40%; width: 25%;}
#roupa {margin-left: 37%; width: 30%;}
#fumaça {margin-left: 40%; width: 25%;}
body {background-color: rgb(252, 226, 216);}

